<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @organizer.first_name %> , et bravo !</h1>
    <p>
      Quelqu'un s'est inscrit à ton évènement.
    </p>
    <p>
      Pour accéder à ton espace personnel, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur events.fr !
  </body>
</html>