<h5 class="text-center">
  <strong>S'inscrire</strong>
</h5>


<div class="text-center mx-auto">
  <div class = "mt-5">

    <%= form_tag url_for(action: 'create'), method: "post" do %>

      <article>
        <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
        <% end %>
        <label class="amount">
          <span>Amount: <%=@event.price%>.00</span>
        </label>
      </article>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="S'inscrire à l'évènement"
              data-amount=<%@event.price%>
              data-locale="auto"></script>
    <% end %>

  </div>
</div>




