
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center">

    <!-- Grid row -->
    <div class="row justify-content-center">


      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Connexion</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">S'incrire</a>
          </li>
          <li>
            <a href="#!">Probleme de connexion?</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Contact</a>
          </li>
          <li>
            <a href="#!">About us</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3"><span style= "color: #18BC9C;"> © 2019 Copyright:</span>
    <a href="https://localhost:3000">Event Project</a>
  </div>
  <!-- Copyright -->

</footer>
